#selection menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;

}
#selection button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

#selection button a {
  color: var(--light-purple);
  text-decoration: none;
}

#selection button:hover {
  background-color: var(--light-purple);
}

#selection button:hover a {
  color: var(--dark-purple);
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px var(--border-color);
}
